html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Delicious Handrawn', cursive;
  color: white;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  min-width: 17%;
  text-align: center;
  color: #FDFDFF;
  font-size: 3rem;
  background-color: #a3395b9c;
  border-radius: 25px;
}
main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 6rem);
}

.gameTable {
  position: relative;
  left: -5rem;
}
.col {
  margin: 0 3rem;
  font-size: 5rem;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 2fr;
}

.userControls {
  display: flex;
  align-items: flex-end;
  gap: 3rem;
}

.choiceBtn {
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  border: none;
  border-radius: 25px;
  box-shadow:  19px 19px 32px #d19542,
              -19px -19px 32px #ffc558;
}

.choiceBtn:hover {
  box-shadow:  15px 15px 30px #dd9d46,
              -15px -15px 30px #ffbd54;
}

button:active {
  transform: scale(.95);
}

#rock {background: center / contain no-repeat url("images/rock.svg");}
#paper {background: center / contain no-repeat url("images/paper.svg");}
#scissors {background: center / contain no-repeat url("images/scissors.svg");}
