html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Delicious Handrawn', cursive;
  color: white;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  min-width: 17%;
  text-align: center;
  color: #FDFDFF;
  font-size: 3rem;
  background-color: #a3395b9c;
  border-radius: 25px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: calc(100vh - 6rem);
}

.col {
  margin: 0rem;
  font-size: 5rem;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
}

.user {
  margin-left: 3rem;
}
.gameTable {
  justify-items: center;
}

.roundResult{
  grid-row: 2 / 4;
}

.userControls {
  display: flex;
  align-items: flex-end;
  gap: 3rem;
}

.computer {
  justify-items: end;
  margin-right: 3rem;
}

.choiceBtn {
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  border: none;
  border-radius: 25px;
  box-shadow:  10px 10px 20px #cf9341,
              -10px -10px 20px #ffc759;
}

.choiceBtn:hover {
  box-shadow:  7px 7px 14px #cf9341,
              -7px -7px 14px #ffc759;
}

#reset {
  width: 5rem;
  height: 5rem;
  margin-top: auto;
  font-size: 2rem;
  font-family: 'Delicious Handrawn', cursive;
  color: white;  
  transition: 0.6s;
  border-radius: 13px;
  background: #f3ad4d;
  box-shadow:  9px 9px 20px #d89a45,
               -9px -9px 20px #ffc055;
}

button:active {
  transform: scale(.95);
}

#rock {background: center / contain no-repeat url("images/rock.svg");}
#paper {background: center / contain no-repeat url("images/paper.svg");}
#scissors {background: center / contain no-repeat url("images/scissors.svg");}